# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\myProject\schoolCompass_json\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
